* {
	font-family:verdana;
}

#wrapper {
	width:960px;
	margin:0px auto;
}

h1 {	
	text-align:center;
	font-size:30px;
	margin-top:25px;
	margin-bottom:25px;
}

h2 {
	font-family:Verdana;
	font-size:15px;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:1px dotted #ccc;
}

#left-side {
	width:425px;
	margin-right:50px;
	float:left;
}

#right-side {
	width:400px;
	float:left;
}

#card {
	background-image:url('/images/card-background.jpg');
	background-repeat:no-repeat;
	height:513px;
	width:369px;
	margin:0px auto;
}

#canvas {
	border:1px solid black;
	width:338px;
	height:469px;
	position:relative;
	top:33px;
	left:16px;
	overflow:hidden;
}

.footer {
	clear:both;
}

.color-choice {
	margin-right:4px;
	width:25px;
	height:25px;
	float:left;
	border:1px solid black;
}

#red {	
	background-color:red;
}

#orange {	
	background-color:orange;
}

#yellow {	
	background-color:yellow;
}

#green {
	background-color:green;
}

#blue {
	background-color:blue;
}

#indigo {
	background-color:indigo;
}

#violet {
	background-color:violet;
}

.texture-choice {
	width:100px;
	height:25px;
	border:1px solid black;
	float:left;
	margin-right:4px;
}

#texture1 {
	background-image:url(/images/texture_1.png);
}

#texture2 {
	background-image:url(/images/texture_2.png);
}

#texture3 {
	background-image:url(/images/texture_3.png);
}

#texture4 {
	background-image:url(/images/texture_4.png);
}


#message {
	border:0px solid black;
	text-align:center;
	margin-top:175px;
	font-size:25px;
}

#recipient-output {
	text-align:center;
	font-size:20px;
}