
body {
    font-family:verdana;
    margin: auto;
    background-color: red;
}

#wrapper {
    width: 1024px;
    margin: auto;
    background-color: green;
}

#content {
    width: 1024px;
    margin: auto;
    background-color: orange;
}


h1 {    
    font-family:Verdana;
    text-align:center;
    font-size:30px;
    margin-top:25px;
    margin-bottom:25px;
}

h2 {
    font-family:Verdana;
    font-size:15px;
    margin-top:30px;
    margin-bottom:5px;
    border-bottom:1px dotted #ccc;
}

#top-half {
    width:960px;
    margin: auto;
    float:top;
}

#bottom-half {
    width:960px;
    margin: auto;
    float:bottom;
}

#page-setup{
	border: 1px;
	background-color: yellow;
	float:right;
}

#map-setup{
	width:250px;
	border: 1px;
	background-color: orange;
	float:left;
}

#map{

    width: 960px; 
    height: 400px;
    margin: auto;
}


#header {
    width:960px;
    float:top;
}

#footer {
    clear:both;
    width: 960px;
    float: bottom;
    margin: auto;
    padding:30px;
}

.color-choice {
    margin-right:4px;
    width:15px;
    height:15px;
    float:left;
    border:1px solid black;
}

#red {    
    background-color:red;
}

#orange {    
    background-color:orange;
}

#yellow {    
    background-color:yellow;
}

#green {
    background-color:green;
}


#message {
    border:0px solid black;
    text-align:center;
    margin-top:175px;
    font-size:25px;
}

#recipient-output {
    text-align:center;
    font-size:20px;
}

.draggable {
    position:absolute;
    top:0px;
    left:0px;
}


